<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>psio</title>
    <link href="/assets/stylesheets/application.css" type="text/css" rel="stylesheet" />
    <script src="/assets/javascripts/application.js"></script>
  </head>
  <body></body>
</html>
