.table th, .table td {
  border-top: 1px solid #777;
}

.table-bordered {
  border: 1px solid #777;
  border-left: 0;
}

.table-bordered th, .table-bordered td {
  border-left: 1px solid #777;
}

td.numeric {
  text-align: right;
}
