<div class="app-detail container">
  <div class="row">
    <div class="span12">
      <h1>{{application}}</h1>
    </div>
  </div>
  <div class="row">
    <div class="span12">
      <h2>Info</h2>
    </div>
  </div>
  <div class="row">
    <div class="span4">
      <table class="table table-condensed table-bordered">
        <tbody>
          <tr>
            <td>PID(s):</td>
            <td>{{pids}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
