<div class="span12">
  <div class="container">
    {{#each cpus}}
      <div class="row">
        <div class="span1">
          <a href="/scheduling/cpu/{{num}}">CPU {{num}}</a>
        </div>
        <div class="span10">
          {{progressBar usage}}
        </div>
        <div class="span1">
          {{usage}}%
        </div>
      </div>
    {{/each}}
  </div>
</div>
