<div class="span8">
  <h1 class="page-header">
    Disk
  </h1>
</div>
<div class="subnav span4">
  <div class="btn-toolbar">
    <div class="btn-group">
      <a href="/memory" rel="tooltip" class="btn" title="RAM" data-placement="bottom">
        <i class="icon-th"></i>
      </a>
      <a href="/memory/disk" rel="tooltip" class="btn active" title="disk" data-placement="bottom">
        <i class="icon-hdd"></i>
      </a>
    </div>
  </div>
</div>
