<div class="container">
  <div class="row">
    <div class="span4"><h1 class="selected">scheduling</h1></div>
    <div class="span4"><h1>memory</h1></div>
    <div class="span4"><h1>network</h1></div>
  </div>
</div>
