<div class="container">
  <div class="row">
    <div class="span4">
      <h1 class="scheduling">
        <a href="/scheduling">scheduling</a>
      </h1>
    </div>
    <div class="span4">
      <h1 class="memory">
        <a href="/memory">memory</a>
      </h1>
    </div>
    <div class="span4">
      <h1 class="network">
        <a href="/network">network</a>
      </h1>
    </div>
  </div>
</div>
