<div class="span8">
  <h1 class="page-header">
    Network
  </h1>
</div>
<div class="subnav span4">
  <div class="btn-toolbar">
    <div class="btn-group">
      <a href="/network" rel="tooltip" class="btn active" title="Overview" data-placement="bottom">
        <i class="icon-signal"></i>
      </a>
    </div>
  </div>
</div>
