<div class="span8">
  <h1 class="page-header">
    CPUs
  </h1>
</div>
<div class="subnav span4">
  <div class="btn-toolbar">
    <div class="btn-group">
      <a href="/scheduling" rel="tooltip" class="btn" title="processes" data-placement="bottom">
        <i class="icon-list"></i>
      </a>
      <a href="/scheduling/cpu" rel="tooltip" class="btn active" title="cpu info" data-placement="bottom">
        <i class="icon-tasks"></i>
      </a>
    </div>
  </div>
</div>
