/*
 *= require      ./vendor/bootstrap.min.css
 *= require_tree ./vendor/
 *= require_self
 *= require_tree ./global
 *= require_tree .
 */
body {
  background: #eee;
}

#bg-icon {
  left: 50%;
  margin-left: -300px;
  position: fixed;
  top: 80px;
  z-index: -1;
}

#bg-icon path, #bg-icon circle {
  fill: #ddd;
}

#content {
  padding: 25px 0;
}
